html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

header, footer { 
  height: 50px;
}
 
html {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

body {
  margin-bottom: 60px;
}

.bodyContent {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-grow: 1;
}

.container {
  padding-top: 10px;
}

.center {
  vertical-align: middle;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}